<!-- Image helpers -->
<div class="padding-full margin-bottom-double bg-color-white">

    <h2>
        Font sizes
    </h2>

    <p class="font-size-l margin-none">
        Classify implement a series of font-size helpers, with media queries to improve responsiveness
    </p>

    <div class="row margin-bottom-none padding-top-full">

        <!-- Font size MD -->
        <div class="col m12">

            <h4 class="">
                Font Size MD (Medical Doctor, nah, just kidding, normal font size)
            </h4>
            <p class="font-size-xs">
                This is an example text to show font size variations
            </p>
            <p class="font-size-sm">
                This is an example text to show font size variations
            </p>
            <p class="font-size-md">
                This is an example text to show font size variations
            </p>
            <p class="font-size-lg">
                This is an example text to show font size variations
            </p>
            <p class="font-size-xlg">
                This is an example text to show font size variations
            </p>
            <p class="font-size-hg">
                This is an example text to show font size variations
            </p>
            <p class="font-size-xhg">
                This is an example text to show font size variations
            </p>

        </div>
        <!-- end Font size MD -->

    </div>

</div>
<!-- end Image helpers -->