<div class="secret-code">

    <div class="image-ratio image-ratio-16-9">
        <iframe class="full-video" src="https://www.youtube.com/embed/kxopViU98Xo?rel=0&amp;controls=0&amp;showinfo=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="secret-code-overlay">
        <div>
            <h1 class="text-center font-color-white font-weight-bold font-transform-uppercase">
                SMPLBLCK
            </h1>
            <div class="container">
                <p class="text-center font-color-white font-size-giant font-weight-bold">
                    Technologic ideas and smart solutions for entrepreneurs
                </p>
            </div>
        </div>
    </div>

</div>