<!-- Test header -->
<div class="z-depth-1 padding-full bg-color-black-lighten-2 text-center">

    <a href="#/home">
        <h1 class="font-transform-italic text-center font-size-giant">
            <span class="font-weight-thin hide-on-med-and-down font-color-white">SMPLBLCK/</span><strong class="font-color-white">Classify</strong>
        </h1>
    </a>

    <p class="font-size-xl text-center font-color-white-darken-4">
        Playground
    </p>

</div>
<!-- end Test header -->

<!-- Playground -->

<div class="playground">

    <textarea ng-model="playground.html" class="playground-code-input"></textarea>

</div>

<div class="bg-color-white" ng-bind-html="playground.trustedHtml"></div>

<!-- end Playground -->