<div class="padding-full margin-bottom-double bg-color-white">

    <!-- Cards -->
    <h3>
        Cards
    </h3>

    <p class="font-size-l margin-none">
        Cards are versatile components with 100% width that can fit wherever they are. 
        It implements a title, image and content and has a hover effect with z-depth manipulation.
    </p>

    <div class="row padding-top-full margin-bottom-none valign-wrapper">

        <div class="col l5">

            <!-- Card example -->
            <div class="card bg-color-white-darken-1">

                <div class="card__title text-truncate">

                    Card title

                </div>

                <div class="card__image" style="background-image: url(images/example_1.jpg); "></div>

                <div class="card__content">

                    <h4 class="margin-none padding-bottom-half">This is the card content</h4>

                    <p class="padding-bottom-full">
                        Sed porttitor lectus nibh. Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                    </p>

                    <div class="text-center">
                        <a class="button button-color-generic-blue waves-effect">
                            This is a button
                        </a>
                    </div>

                </div>

            </div>
            <!-- end Card example -->

        </div>

        <div class="col l7">
            <div class="padding-left-full">

                <h5 class="font-size-l">Card title</h5>
                <p class="font-weight-thin">
                    Has a <code>.padding-half</code> applied. Also, can truncate text adding <code>.text-truncate</code> class
                </p>

                <h5 class="font-size-l margin-top-full">Card image</h5>
                <p class="font-weight-thin">
                    Card image has a fixed ratio of 4:3, but it can be changed using <code>.image-ratio</code> variations on the image container.
                    The image itself is implemented via <code>background-size: cover</code> to avoid weird cuts or overflows on <code>img</code> tags
                </p>

                <h5 class="font-size-l margin-top-full">Card content</h5>
                <p class="font-weight-thin">
                    Card content is a simple container with <code>.padding-full</code> class applied. 
                    It has no height constrain and it can be used to display text or links
                </p>

            </div>
        </div>

    </div>
    <!-- end Cards -->

</div>
