<!-- 
    Bg Blend modes - There are examples of how can blend modes be used via Classify
-->

<!-- Bg Blend modes example: Normal -->
<div class="height-100-vh bg-structure-cover bg-structure-center bg-structure-fixed" 
     style="background-image: url('images/example_1.jpg'); ">

    <div class="height-100-vh width-full valign-wrapper valign-center bg-blend-normal padding-full">

        <div class="padding-double bg-color-white-opacity-4">

            <h1 class="font-size-giant-xl text-center font-weight-bold font-transform-uppercase font-shadow-s">
                Without blend mode (Normal)
            </h1>

            <p class="font-size-xxl text-center font-weight-bold margin-none">
                This is a div without blend modes
            </p>

        </div>

    </div>

</div>
<!-- end Bg Blend modes example -->

<!-- Bg Blend modes example: Lighten -->
<div class="height-100-vh bg-structure-cover bg-structure-center bg-structure-fixed" 
     style="background-image: url('images/example_1.jpg'); ">

    <div class="bg-color-white-opacity-3 height-100-vh width-full valign-wrapper valign-center bg-blend-lighten padding-full">

        <div class="padding-double">

            <h1 class="font-size-giant-xl text-center font-weight-bold font-color-black font-transform-uppercase font-shadow-s">
                Blend mode example: Lighten
            </h1>

            <p class="font-size-xxl font-color-black text-center font-weight-bold margin-none padding-double">
                This is a simple example on how you can use CSS blend modes with backgrounds and elements
            </p>

        </div>

    </div>

</div>
<!-- end Bg Blend modes example -->

<!-- Bg Blend modes example: Lighten -->
<div class="height-100-vh bg-structure-cover bg-structure-center bg-structure-fixed" 
     style="background-image: url('images/example_1.jpg'); ">

    <div class="bg-color-black-opacity-4 height-100-vh width-full valign-wrapper valign-center bg-blend-darken padding-full">

        <div class="padding-double">

            <h1 class="font-size-giant-xl text-center font-weight-bold font-color-white font-transform-uppercase font-shadow-s">
                Blend mode example: Darken
            </h1>

            <p class="font-size-xxl font-color-white text-center font-weight-bold margin-none">
                This is a simple example on how you can use CSS blend modes with backgrounds and elements
            </p>

        </div>

    </div>

</div>
<!-- end Bg Blend modes example -->

<!-- Bg Blend modes example: Overlay -->
<div class="height-100-vh bg-structure-cover bg-structure-center bg-structure-fixed" 
     style="background-image: url('images/example_1.jpg'); ">

    <div class="bg-color-black-opacity-1 height-100-vh width-full valign-wrapper valign-center padding-full bg-blend-overlay">

        <div class="padding-double">

            <h1 class="font-size-giant-xl text-center font-weight-bold font-color-white font-transform-uppercase font-shadow-s">
                Blend mode example: Overlay
            </h1>

            <p class="font-size-xxl font-color-white text-center font-weight-bold margin-none">
                This is a simple example on how you can use CSS blend modes with backgrounds and elements
            </p>

        </div>

    </div>

</div>
<!-- end Bg Blend modes example -->

<!-- Bg Blend modes example: Multiply -->
<div class="height-100-vh bg-structure-cover bg-structure-center bg-structure-fixed" 
     style="background-image: url('images/example_1.jpg'); ">

    <div class="bg-color-generic-red height-100-vh width-full valign-wrapper valign-center padding-full bg-blend-multiply">

        <div class="padding-double">

            <h1 class="font-size-giant-xl text-center font-weight-bold font-color-white font-transform-uppercase font-shadow-s">
                Blend mode example: Multiply
            </h1>

            <p class="font-size-xxl font-color-white text-center font-weight-bold margin-none">
                This is a simple example on how you can use CSS blend modes with backgrounds and elements
            </p>

        </div>

    </div>

</div>
<!-- end Bg Blend modes example -->

<!-- Bg Blend modes example: Color dodge -->
<div class="height-100-vh bg-structure-cover bg-structure-center bg-structure-fixed" 
     style="background-image: url('images/example_1.jpg'); ">

    <div class="bg-color-generic-orange-darken-10 height-100-vh width-full valign-wrapper valign-center padding-full bg-blend-color-dodge">

        <div class="padding-double">

            <h1 class="font-size-giant-xl text-center font-weight-bold font-color-white font-transform-uppercase font-shadow-s">
                Blend mode example: Color-dodge
            </h1>

            <p class="font-size-xxl font-color-white text-center font-weight-bold margin-none">
                This is a simple example on how you can use CSS blend modes with backgrounds and elements
            </p>

        </div>

    </div>

</div>
<!-- end Bg Blend modes example -->

<!-- Bg Blend modes example: Color burn -->
<div class="height-100-vh bg-structure-cover bg-structure-center bg-structure-fixed" 
     style="background-image: url('images/example_1.jpg'); ">

    <div class="bg-color-generic-blue-darken-2 height-100-vh width-full valign-wrapper valign-center padding-full bg-blend-color-burn">

        <div class="padding-double">

            <h1 class="font-size-giant-xl text-center font-weight-bold font-color-white font-transform-uppercase font-shadow-s">
                Blend mode example: Color-burn
            </h1>

            <p class="font-size-xxl font-color-white text-center font-weight-bold margin-none">
                This is a simple example on how you can use CSS blend modes with backgrounds and elements
            </p>

        </div>

    </div>

</div>
<!-- end Bg Blend modes example -->

<!-- Bg Blend modes example: Screen -->
<div class="height-100-vh bg-structure-cover bg-structure-center bg-structure-fixed" 
     style="background-image: url('images/example_1.jpg'); ">

    <div class="bg-color-generic-red-lighten-4 height-100-vh width-full valign-wrapper valign-center padding-full bg-blend-screen">

        <div class="padding-double">

            <h1 class="font-size-giant-xl text-center font-weight-bold font-color-black font-transform-uppercase font-shadow-s">
                Blend mode example: Screen
            </h1>

            <p class="font-size-xxl font-color-black text-center font-weight-bold margin-none">
                This is a simple example on how you can use CSS blend modes with backgrounds and elements
            </p>

        </div>

    </div>

</div>
<!-- end Bg Blend modes example -->

<!-- Bg Blend modes example: Soft light -->
<div class="height-100-vh bg-structure-cover bg-structure-center bg-structure-fixed" 
     style="background-image: url('images/example_1.jpg'); ">

    <div class="bg-color-white-darken-4 height-100-vh width-full valign-wrapper valign-center padding-full bg-blend-soft-light">

        <div class="padding-double">

            <h1 class="font-size-giant-xl text-center font-weight-bold font-color-black font-transform-uppercase font-shadow-s">
                Blend mode example: Soft light
            </h1>

            <p class="font-size-xxl font-color-black text-center font-weight-bold margin-none">
                This is a simple example on how you can use CSS blend modes with backgrounds and elements
            </p>

        </div>

    </div>

</div>
<!-- end Bg Blend modes example -->

<!-- Bg Blend modes example: Hard light -->
<div class="height-100-vh bg-structure-cover bg-structure-center bg-structure-fixed" 
     style="background-image: url('images/example_1.jpg'); ">

    <div class="bg-color-white-opacity-4 height-100-vh width-full valign-wrapper valign-center padding-full bg-blend-hard-light">

        <div class="padding-double">

            <h1 class="font-size-giant-xl text-center font-weight-bold font-color-black font-transform-uppercase font-shadow-s">
                Blend mode example: Hard light
            </h1>

            <p class="font-size-xxl font-color-black text-center font-weight-bold margin-none">
                This is a simple example on how you can use CSS blend modes with backgrounds and elements
            </p>

        </div>

    </div>

</div>
<!-- end Bg Blend modes example -->