<!-- 
    Bg Blend modes interactive - There are examples of how can blend modes be used via Classify
-->

<!-- Bg Blend modes example: Lighten -->
<div class="height-100-vh bg-structure-cover bg-structure-center bg-structure-fixed" 
     style="background-image: url('images/example_3.jpg'); ">

    <div class="bg-color-white-opacity-3 height-100-vh width-full valign-wrapper valign-center bg-blend-lighten padding-full">

        <div class="padding-double">

            <h1 class="font-size-giant-xl text-center font-weight-bold font-color-black font-transform-uppercase font-shadow-s">
                Blend mode example: Lighten
            </h1>

            <p class="font-size-xxl font-color-black text-center font-weight-bold margin-none padding-double">
                This is a simple example on how you can use CSS blend modes with backgrounds and elements
            </p>

        </div>

    </div>

</div>
<!-- end Bg Blend modes example -->