<!-- Hue example -->
<div class="hue-example bg-structure-cover bg-structure-center" style="background-image: url('images/example_3.jpg');">
    
    <div class="cube-container">
        
        <div class="cube-face face-top bg-structure-cover bg-structure-center"  style="background-image: url('images/example_3.jpg');"></div>
        <div class="cube-face face-right bg-structure-cover bg-structure-center"  style="background-image: url('images/example_3.jpg');"></div>
        <div class="cube-face face-left bg-structure-cover bg-structure-center"  style="background-image: url('images/example_3.jpg');"></div>
        <div class="cube-face face-bottom bg-structure-cover bg-structure-center"  style="background-image: url('images/example_3.jpg');"></div>
        <div class="cube-face face-back bg-structure-cover bg-structure-center"  style="background-image: url('images/example_3.jpg');"></div>
        <div class="cube-face face-front bg-structure-cover bg-structure-center"  style="background-image: url('images/example_3.jpg');"></div>
        
    </div>
    
</div>
<!-- end Hue example -->