<!-- 
    Animation examples
-->

<!-- Animations: transitions -->
<div class="container-full-viewport valign-wrapper valign-center" style="background-image: url('images/example_3.jpg'); ">

    <div class="padding-double bg-color-white bg-blend-overlay animate-bg-transition">

        <h1 class="font-transform-uppercase font-size-giant-l">
            This is a very high container (._. )
        </h1>

    </div>

</div>
<!-- end Animations: transitions -->

<!-- Animations: transitions with transforms -->
<div class="container-full-viewport valign-wrapper valign-center animation-transform-container" style="background-image: url('images/example_3.jpg'); ">

    <div class="padding-double bg-color-white bg-blend-overlay animate-bg-transition-transform">

        <h1 class="font-transform-uppercase font-size-giant-l">
            WTF IS HAPPENING (T_T )
        </h1>

    </div>

</div>
<!-- end Animations: transitions with transforms -->

<!-- Animations: transforms examples -->
<div class="container-full-viewport valign-wrapper valign-space-around animation-transform-container" style="background-image: url('images/example_3.jpg'); ">

    <div class="padding-double bg-color-white bg-blend-overlay animate-rotate">

        <h1 class="font-transform-uppercase font-size-giant-l">
            rotate()
        </h1>

    </div>

    <div class="padding-double bg-color-white bg-blend-overlay animate-scale">

        <h1 class="font-transform-uppercase font-size-giant-l">
            scale()
        </h1>

    </div>

    <div class="padding-double bg-color-white bg-blend-overlay animate-translate">

        <h1 class="font-transform-uppercase font-size-giant-l">
            translate()
        </h1>

    </div>

    <div class="padding-double bg-color-white bg-blend-overlay animate-skew">

        <h1 class="font-transform-uppercase font-size-giant-l">
            skew()
        </h1>

    </div>

</div>
<!-- end Animations: transforms examples -->

<!-- Animations: keyframes -->
<div class="container-full-viewport valign-wrapper valign-center animate-bg-keyframes-container" style="background-image: url('images/example_3.jpg'); ">

    <div class="padding-double bg-color-white bg-blend-overlay animate-bg-keyframes">

        <h1 class="font-transform-uppercase font-size-giant-l">
            A higher container (O_O )
        </h1>

    </div>

</div>
<!-- end Animations: keyframes -->

<!-- Animations: keyframes -->
<div class="container-full-viewport valign-wrapper valign-center animate-maribel-container" style="background-image: url('images/example_3.jpg'); ">

    <div class="padding-double bg-color-white bg-blend-overlay animate-maribel">

        <h1 class="font-transform-uppercase font-size-giant-l">
            A higher container (O_O )
        </h1>

    </div>

</div>
<!-- end Animations: keyframes -->