<!-- 
    BgCover Example: This can be useful to create simple landing pages 
-->
<!-- BgCover example -->
<div class="height-100-vh bg-structure-cover bg-structure-center valign-wrapper valign-center" 
     style="background-image: url('images/example_2.jpg'); ">

    <!-- Container -->
    <div class="container bg-color-white-opacity-4 z-depth-1">

        <div class="padding-full">

            <h1 class="text-center">
                Hi!
            </h1>

            <p class="text-center font-size-xl">
                This is a really simple example of a landing <br/>
                It will scale the background image depending on viewport height and width <br/> thanks to <code>.bg-structure</code> classes
            </p>

        </div>

    </div>
    <!-- end Container -->

</div>
<!-- end BgCover example -->